---
# Create connector for single sink
- name: Run a shell command and register its output as a variable
  command: echo {{item.name}}
  register: sink_name
  ignore_errors: true

- name: Print return information from the previous task
  debug: msg="result '{{ sink_name }}'"

- name: Check the connector is exists
  uri:
    url: http://localhost:8083/connectors/{{item.name}}-sink
    return_content: yes
    status_code: [200, 404]
  register: this

- name: Generate debezium sink configurations
  template: src=sink.json.j2 dest={{sink_name.stdout}}.json
  when: this.status == 404

- name: create debezium connector
  command: curl -i -X POST -H "Accept:application/json" -H  "Content-Type:application/json" http://localhost:8083/connectors/ -d @{{sink_name.stdout}}.json
  when: this.status == 404

- name: Generate debezium sink configurations
  template: src=update_sink.json.j2 dest={{sink_name.stdout}}.json
  when: this.status == 200

- name: update debezium connector
  command: curl -i -X PUT -H "Accept:application/json" -H  "Content-Type:application/json" http://localhost:8083/connectors/{{item.name}}-sink/config -d @{{sink_name.stdout}}.json
  register: update_response
  when: this.status == 200

- name: Print return information from the previous task
  debug: msg="result '{{update_response}}'"


